{% extends "bootstrap/base.html" %}
{% block title %}dHarass - A tool to get nasty gendered harassment out of your Twitter mentions{% endblock %}

{% block styles %}
{{ super() }}
<link rel="shortcut icon" href="favicon.ico">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link id="theme-style" rel="stylesheet" href="static/css/styles.css">

{% endblock %}

{% block body_attribs %}
data-spy="scroll"
{% endblock %}

{% block navbar %}
<!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a class="scrollto" href="#promo">
                    <span class="logo-title">dHarass</span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a class="scrollto" href="#about">About</a></li>
                        <li class="nav-item"><a class="scrollto" href="#try">Try</a></li>                        
                        <li class="nav-item last"><a class="scrollto" href="#contact">Contact</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->
{% endblock %}

{% block content %}
<!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">d<span class="highlight">Harass</span></h2>
            <p class="intro">A tool to get nasty gendered harassment out of your Twitter mentions</p>
            <div class="btns">
                <a class="btn btn-cta-primary" href="http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/" target="_blank">Try Me</a>
            </div>
            <ul class="meta list-inline">
                <li><a href="#" target="_blank">View on GitHub</a></li>
                <li><a href="https://github.com/twbs/bootstrap" target="_blank">Full Documentation</a></li>
                <li>Created by: <a href="http://themes.3rdwavemedia.com/" target="_blank">David Chen</a> as a student at Zipfian Academy, Spring 2015</li>
            </ul><!--//meta-->
        </div><!--//container-->
    </section><!--//promo-->

        <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is dHarass?</h2>
            <p class="intro text-center">Do you get nasty messages and replies on Twitter that say
                things like "Die bitch", and other gendered harassment, from random strangers? Sign in with Twitter, and dHarass reads your mentions for this
                kind of garbage so you don't have too. It brings up the users and the messages for
                you to see if you want. Block all in one click.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">One-click block</h3>
                        <p>Block all terrible users in one click. If they're gonna leave garbage in your mentions, you don't need to hear from them again.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Time saver</h3>
                        <p>Don't waste your time reading gendered harassment garbage, letting
                            it bring you down throughout the week. Let dHarass screen for you.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Machine Learning Powered</h3>
                        <p>dHarass uses advanced machine learning algorithms to flag garbage in your mentions, and learns your preferences the more you use it.</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Mobile-friendly</h3>
                        <p>Clean your mentions from your phone.</p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Sign In with Twitter</h3>
                        <p>Sign in with Twitter and clean your mentions.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Coffee</h3>
                        <p>Because I love it.</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->

    <section id="try" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Try Me</h2>            
            <div class="block">
                <h3 class="sub-title text-center">Sign In with Twitter and Check Mentions</h3>
                <p>Sign in and click 'Check Mentions'</p>
            </div><!--//block-->
            
            <div class="block">
                <h3 class="sub-title text-center">Upload Your own Tweets</h3>
                <p>Upload your own tweets</p>
                
            </div><!--//block-->
            
            <div class="block">
                <h3 class="sub-title text-center">Write your own message</h3>
                <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit ligula eget dolor.</p>
            </div><!--//block-->   
            <div class="block">
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://github.com/twbs/bootstrap" target="_blank">More on GitHub</a>
                </p>
            </div><!--//block-->
            
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//features-->

    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2>
                <p class="intro  text-center">I hope you find this Bootstrap template useful. <br />Feel free to get in touch if you have any questions or suggestions.</p>
                <div class="author-message">                      
                    <div class="profile">
                    </div><!--//profile-->
                    <div class="speech-bubble">
                        <h3 class="sub-title">Want to get more freebies in the future?</h3>
                        <p>I tweet about #UX and #webdev related resources/content at <a href="https://twitter.com/3rdwave_themes" target="_blank">@3rdwave_themes</a> 
                        <p>If you like what I do, you can follow me on twitter and I will keep you informed about my next free template there :)</p>
                        <p><strong>[Tip for developers]:</strong> If you take on freelance work you can put a tailored message here about your availability to attract potential clients. Be creative and good luck!</p> 
                        <div class="source">
                            <span class="name"><a href="https://twitter.com/3rdwave_themes" target="_blank">Xiaoying Riley</a></span>
                            <br />
                            <span class="title">UX/UI Designer</span>
                        </div><!--//source-->
                    </div><!--//speech-bubble-->                        
                </div><!--//author-message-->
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Get Connected</h4>
                    <ul class="social-icons list-inline">
                        <li><a href="https://twitter.com/3rdwave_themes" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/3rdwavethemes" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/xiaoying"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="http://instagram.com/xyriley"><i class="fa fa-instagram"></i></a></li>  
                        <li><a href="https://dribbble.com/Xiaoying"><i class="fa fa-dribbble"></i></a></li>   
                        <li class="last"><a href="mailto: hello@3rdwavemedia.com"><i class="fa fa-envelope"></i></a></li>              
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
      
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
{% endblock %}

{% block scripts %}
{{ super() }}
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.14/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="static/js/prism.js"></script>    
    <script type="text/javascript" src="static/js/main.js"></script> 
{% endblock %}




